#stage {
    background-size: cover;
    background-image: url('backdrops/aurora.jpg');
}

#leftArrow {
    left: 0px;
    top: 0px;
}

#rightArrow {
    left: 100px;
    top: -3px;
}



/* other styles -- you can ignore these */
.message {
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #d0d0d0b0;
    padding: 10px 15px;
    border-radius: 20px;
    width: max-content;
    background-color: white;
    z-index: 1;
}